# Byte-Compiled / optimized / DLL files
__pycache__
__pycache__/

# Mac specific 
.DS_Store


wandb_config.yaml
wandb_configs/

# Weights
fully_trained_seg_unet1.pth

#Data
Cryo_Annotater_1/
CryoNuSeg_Images/

MoNuSeg_Annotations/
MoNuSeg_Images/

all_data.npy
all_data_256.npy
images_fold1.npy
masks_fold1.npy
images_fold2.npy
masks_fold2.npy
images_fold3.npy
masks_fold3.npy



pannuke.npy
pannuke_fold1.npy
pannuke_fold1+2.npy
Data/pannuke_fold1+2_more_augs.npy
image_annot_data_struct.npy
runs/
*.tif
*.png
*.xml

# Distributions
.Python/
build/
downloads/



# misc
__pycache__/process_data.cpython-38.pyc
