# Byte-Compiled / optimized / DLL files
__pycache__
__pycache__/

# Mac specific 
.DS_Store


wandb_config.yaml
wandb_configs/

# Weights
fully_trained_seg_unet1.pth

#Data
Cryo_Annotater_1/
CryoNuSeg_Images/

MoNuSeg_Annotations/
MoNuSeg_Images/

pannuke_6c.npy
pannuke_6c_augs.npy

runs/
gpt_runs/
*.tif
*.png
*.xml

# Distributions
.Python/
build/
downloads/



# misc
__pycache__/process_data.cpython-38.pyc
