# Byte-Compiled / optimized / DLL files
__pycache__
__pycache__/


.DS_Store


wandb_config.yaml
wandb_configs/

# Weights
fully_trained_seg_unet1.pth

#Data
Cryo_Annotater_1
CryoNuSeg_Images

MoNuSeg_Annotations
MoNuSeg_Images

# Distributions
.Python/
build/
downloads/
